
/* general things */

body {
	color: #333;
	font-size: 1em;
}

li {
	text-decoration: none;
	list-style: none;
}

a {
	color: #2980b9;
	text-decoration: none;
}

a:hover {
	color: #2980b9;
	text-decoration: none;
}

textarea {
	resize: none;
}

.content {
	margin: 0 50px 0 50px;
}

/* header */

.nav-container {
	width: 100%;
	color: #fafafa;
	border-bottom: 5px solid #2980b9;
	background-color: #333;
}

.nav {
	width: 960px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
}

.nav div {
	display: inline;
}

.nav-title {
	margin: 20px 20px 20px 50px;
	float: left;
}

.nav-links {
	float: right;
	margin: 20px 50px 20px 20px;
}

.nav-links a {
	margin-left: 20px;
}

.nav a {
	text-decoration: none;
	color: #fafafa;
}

.nav a:hover {
	text-decoration: none;
	color: #2980b9;
}

.body-container {
	width: 960px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
}

/* create new topic */

.topic_form_element {
	display: block;
	margin-bottom: 20px;
}

/* explore page */

.contentHeader {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #ccc;
}

.contentHeader h3 {
	margin: 0 0 0 0;
}

.topicItem {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.topicItem-title {
	font-size: 1.5em;
}

.topicItem-desc {
	font-size: 1em;
	margin-top: 10px;
}

.topicItem-updated {
	display: inline;
	font-size: .8em;
	color: #aaa;
}

.topicItem-edit {
	display: inline;
	margin-left: 10px;
}

.topicItem-delete {
	display: inline;
	margin-left: 10px;
}

.topicDeleted-message {
	color: #D47D80;
}

